
html, body {

  background-color: #0C2E38;
}

.portfolio-page .content {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.subheading {
  text-align: right;
  border-bottom: 3px solid white;
  margin-bottom: 3em;
}

.subheading h2 {
  font-size: 3em;
  margin: 0;
  margin-bottom: -.3em;
}

.pics__row {
  margin-left: -14px;
  margin-right: -14px;
}

.pics__row figure {
  text-align: right;
  line-height: .8;

  background-color: transparent;
  display: inline;
  float: left;
  padding-bottom: 2em;
  z-index: 0;
  position: relative;
}

.pics__row figure a .caption {
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 1.6em;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80%;
  padding: 10px;

  border: 3px solid transparent;
}

.pics__row figure a:hover .caption {
  background-color: hotpink;
  border-color: white;
}

/*.pics__row figure a:hover + figcaption {
  text-decoration: line-through;
}*/

.pics__row figure {

  margin: 0;
  margin-bottom: 0;
  /* padding: 1em; */
}

.pics__row figure img {
  border: 3px solid transparent;
  position: relative;
}

.pics__row figure a:hover img {
  border-color: white;
}

.pics__row figure a {
  position: relative;
  border: none;
}

.pics__row figure a .overlay {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(12, 46, 56, 0.45);
}

.pics__row figure a:hover .overlay {
    background-color: transparent;
}

/* SCREENS BIGGER THAN 568px (bigger than an iphone) */
/* ≥ 568px */
@media screen and (min-width: 35.5em) {

  .portfolio-page .content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .subheading h2 {
    font-size: 5.75em;
  }
}

/* SCREENS BIGGER THAN 768px (bigger than mom's tablet) */
/* ≥ 768px */
@media screen and (min-width: 48em) {
  .subheading {
    margin-bottom: 2em;
  }

  .pics__row {
    margin-bottom: 2em;
  }

  .pics__row:last-child {
    margin-bottom: 6em;
  }
}
